* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

body {
    background-color:beige;
}

.wrapper {
    margin: 50px auto;
    width: 600px;
    max-width: 80%;
}

.header_name {
    font-size: 32px;
    font-weight: bold;
}

.accordion {
    margin: auto;
}

.accordion li {
    list-style: none;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid gray;
}

.accordion li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: blue;
}

.btn {
    color: black;
}

.accordion li label:hover {
    color:black;
}

.accordion label + input[type="radio"] {
    display: none;
}

.accordion .content {
    padding: 0 10px;
    line-height: 22px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.accordion label + input[type="radio"]:checked + label {
    color: black;
}

.accordion label + input[type="radio"]:checked + .content {
    max-height: 600px;
    color: black;
}

.image {
    width: 200px;
    height: 200px;
    background-size: cover;
}